extends layoutdash

block content
    form.search(action='/report/washerPay' method='POST' )
        .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            h2 Washer Details  
            .btn-toolbar.mb-2.mb-md-0.ith    
                input.formcontrol.btn.btn-sm.btn-outline-secondary(type="date" name="searchdate" value=defaultDate)
                input.formcontrol.btn.btn-sm.btn-outline-secondary(type="submit" placeholder='Submit')    
    #dashview.table-responsive.show.active
        table.table.table-striped.table-sm
            thead
            tr
                th Full Name 
                th Number of cars
                th Payout Amount
        
            tbody
            if washers.length
                each washer in washers
                    tr
                        td #{washer.details[0].fullName +" " + washer.details[0].id }
                        td #{washer.count}
                        td #{washer.totalPayout}
                tr
                    th(colspan=2) Total Payout 
                    td #{new Intl.NumberFormat().format(sumPayout.totalPayoutPerDay)}


